/* Dark mode colors. */
:root {
	--sl-color-accent-low: #8839ef;
	--sl-color-accent: #cba6f7;
	--sl-color-accent-high: #e1c8fe;
	--sl-color-white: #e6e9ef;
	--sl-color-gray-1: #cdd6f4;
	--sl-color-gray-2: #bac2de;
	--sl-color-gray-3: #7f849c;
	--sl-color-gray-4: #6c7086;
	--sl-color-gray-5: #45475a;
	--sl-color-gray-6: #181825;
	--sl-color-black: #11111b;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #e1c8fe;
	--sl-color-accent: #cba6f7;
	--sl-color-accent-high: #8839ef;
	--sl-color-white: #11111b;
	--sl-color-gray-1: #181825;
	--sl-color-gray-2: #45475a;
	--sl-color-gray-3: #6c7086;
	--sl-color-gray-4: #7f849c;
	--sl-color-gray-5: #a6adc8;
	--sl-color-gray-6: #bac2de;
	--sl-color-gray-7: #cdd6f4;
	--sl-color-black: #e6e9ef;
}